name: Web

on:
  push:
    branches: [main, master]
    paths:
      - "dahis-web/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to cPanel (FTP)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.CPANEL_FTP_HOST }}
          username: ${{ secrets.CPANEL_FTP_USER }}
          password: ${{ secrets.CPANEL_FTP_PASSWORD }}
          port: 21
          local-dir: ./dahis-web/
          server-dir: ${{ env.REMOTE_DIR }}
          exclude: |
            **/.git*
            **/node_modules/
          dangerous-clean-slate: false
